@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<ConsumingWebAPIsDotNetMVC.Models.Product>
<div class="container">
    <a asp-controller="Products" asp-action="Create" class="btn btn-primary float-end mx-3 me-2">Add new Product</a>
    <h1>Products</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                    <td>
                        <a asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-info text-white">Edit</a>
                        |
                        <form method="post" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" class="d-inline">
                            <input type="submit" class="btn btn-danger" value="Delete" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>